@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

body.modal-open {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Adjust as needed */
  padding-top: 20px;
  /* Add padding if needed */
}

/* Пример для Tailwind CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

.shadow-contact {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}

#map-container {
  width: 100%;
  height: 400px;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

#dollar-logo {
  border-bottom: 2px solid #e5e7eb;
  /* TailwindCSS grey-200 */
}


.main-carousel .carousel .slide img {
  object-fit: contain;
  height: 400px;
  width: auto;
}

.thumbnail-carousel .carousel .thumb img {
  height: 80px;
  width: auto;
}

.thumbnail-carousel .carousel .thumb {
  border: none;
  padding: 2px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.container {
  background: linear-gradient(to right, #F5F8FF 50%);


}

.semicircle {
  position: absolute;
  z-index: 3;
  background: var(--Green-Green-10, #E6F2EB);
}

.invisible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.shadow-contactPages {
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.10); /* Тень сверху */
}

.fixed {
  position: fixed;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.w-full {
  width: 100%;
}
.bg-gray-800 {
  background-color: #2d3748;
}
.text-white {
  color: white;
}
.p-4 {
  padding: 1rem;
}
.z-50 {
  z-index: 50;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.bg-green-500 {
  background-color: #48bb78;
}
.bg-red-500 {
  background-color: #f56565;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.rounded {
  border-radius: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}
.transform {
  transform: translateY(100%);
}


.image-gallery-thumbnail.active {
  border: 2px solid red !important;
  border-radius: 10px;
}

/* Apply rounded corners to all thumbnails */
.image-gallery-thumbnail img {
  border-radius: 10px;
}

/* Remove the default blue border on hover */
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  outline: none !important;
  border: 2px solid red !important;
  border-radius: 10px;
}

/* Переопределение стилей для миниатюр */
.image-gallery-thumbnail {
  border-radius: 0.75rem !important;
  overflow: hidden;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 0.75rem !important;
}

/* Убедитесь, что при наведении и выборе слайда углы остаются скругленными */
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border-radius: 0.75rem !important;
}

.image-gallery-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  margin: 0 auto;
  border-radius: 0.75rem !important;
  overflow: hidden;
}

.image-gallery-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail.active {
  border: 2px solid green !important;
  border-radius: 10px !important;
}

.image-gallery-thumbnails img {
  margin: 0;
  padding: 0;
}

.image-gallery-thumbnails img {
  width: 100px;
  height: auto;
}

.image-gallery-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px !important;
}

.image-gallery-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  overflow: hidden;
}
.image-gallery-thumbnail img {
  aspect-ratio: 1 / 1;
  width: 100px;
  height: 100px; 
}
@media only screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-gallery-thumbnail img {
    width: 100px;
    height: 100px;
  }
}